<h2>About Special</h2>
<p>We own, operate and consider purchasing small saas businesses in the b2b market</p>

<h2>Our properties</h2>
<ul>
  <li><a href="https://yancy.app/">Yancy - 1 API to end spam</a></li>
  <li><a href="https://pilotfleet.com/">Pilotfleet - Automated list building for financial advisors</a></li>
  <li>We're actively looking to add more.</li>
</ul>

<p>Send us an email for more information.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <a href="https://kameronkales.com">Meet the owner</a>
  </li>
</ul>
